/* globals color and font */
:root {
  --main-font: "Poppins", sans-serif; /* Set your desired font stack */
  --text-color-black: #000000c9; /* Set your desired text color */
  --background-color-white: #fff; /* Set your desired background color */
  --background-color-green: #0b7044;
}
/* Set global styles */
* {
  color: var(--text-color-black);
  background-color: var(--background-color-white);
  font-family: var(--main-font);
  font-weight: normal;
}
/* all of section will apply it */
section {
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
  padding: 5px; /* Add padding for spacing inside the section */
}
.dropdown {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-around;
  max-width: auto;
}
.linkNav {
  display: flex;
  align-items: center;
  justify-content: start;
}
.linkNav a {
  color: var(--text-color-black);
  margin-left: 10px;
  font-weight: bold;
  font-size: medium;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  position: relative;
  font-family: var(--main-font);
}
.linkNav a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--background-color-green);
  transition: width 0.3s ease; /* Smooth transition effect for the underline */
}

.linkNav a:hover::before,
.linkNav a.active::before {
  width: 100%; /* Apply the same underline effect for hover and active states */
}

.searchNav {
  display: flex;
  align-items: center;
  gap: 20px;
}
.btnSearch {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 50px;
}

form input.search {
  border: unset;
  outline: none;
  font-size: large;
}
.searchNav .btnShop {
  padding-bottom: 50px;
}
.searchNav .btnShop i {
  background-color: var(--background-color-green);
  color: var(--background-color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    max-width: auto;
  }
  .linkNav {
    display: flex;
    align-items: center;
  }
  .linkNav a {
    color: var(--text-color-black);
    font-weight: bold;
    text-align: center;
    /* padding: 5px 5px; */
    font-size: small;
    text-decoration: none;
    position: relative;
    font-family: var(--main-font);
  }
  .linkNav a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--background-color-green);
    transition: width 0.3s ease; /* Smooth transition effect for the underline */
  }

  .linkNav a:hover::before,
  .linkNav a.active::before {
    width: 100%; /* Apply the same underline effect for hover and active states */
  }
  .logoNav img {
    width: 50px;
    height: 50px;
  }

  .searchNav {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .btnSearch {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 50px;
  }

  form input.search {
    border: unset;
    outline: none;
    font-size: small;
  }
  .searchNav .btnShop {
    /* display: none; */
    padding-right: 50px;
    padding-bottom: 40px;
  }
  .searchNav .btnShop i {
    background-color: var(--background-color-green);
    color: var(--background-color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: absolute;
  }
}
@media (min-width: 320px) and (max-width: 767.98px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .linkNav {
    display: none;
  }
  .logoNav {
    display: none;
  }

  /* smart phone */
  /* Add your CSS styles for the dropdown here */
  .dropdown {
    position: relative;
    display: block;
  }

  .dropbtn {
    background-color: var(--background-color-green);
    color: var(--background-color-white);
    padding: 10px;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  .dropbtn i {
    background-color: var(--background-color-green);
    color: var(--background-color-white);
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    font-family: var(--main-font);
    font-size: small;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #333;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .active {
    background-color: var(--background-color-green);
    color: white;
  }

  .btnSearch {
    padding: 10px;
    border: 1px solid var(--text-color-black);
    border-radius: 50px;
  }

  form input.search {
    border: unset;
    outline: none;
    font-size: smaller;
    width: 100px;
  }
  .searchNav .btnShop {
    /* display: none; */
    padding-right: 50px;
    padding-bottom: 40px;
  }
  .searchNav .btnShop i {
    background-color: var(--background-color-green);
    color: var(--background-color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: absolute;
  }
}
